<section id="call-to-action" class="call-to-action section dark-background">
    <div class="container">
        <div class="row" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-9 text-center text-xl-start">
                <h3>Güvenilir Kazan Çözümleri için Bize Ulaşın</h3>
                <p>Yüksek kaliteli hizmet ve müşteri memnuniyeti odaklı çözümlerle iş süreçlerinize değer katıyoruz. Buhar ve kızgın yağ kazanları için bakım, onarım, kurulum ve yedek parça ihtiyaçlarınızda profesyonel destek almak için bizimle iletişime geçin.</p>
            </div>
            <div class="col-xl-3 cta-btn-container text-center">
                <a class="cta-btn align-middle" href="#contact">Bize Ulaşın</a>
            </div>
        </div>
    </div>
</section>
