<section id="portfolio" class="portfolio section">

    <!-- Bölüm Başlığı -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Portföy</h2>
        <p>Gerçekleştirdiğimiz Projeler</p>
    </div><!-- Bölüm Başlığı Bitiş -->

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <!-- Portföy Filtreleri -->
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Tümü</li>
                <li data-filter=".filter-maintenance">Bakım ve Onarım</li>
                <li data-filter=".filter-installation">Kurulum</li>
                <li data-filter=".filter-supply">Yedek Parça Tedarik</li>
                <li data-filter=".filter-support">Teknik Destek</li>
            </ul><!-- Portföy Filtreleri Bitiş -->
            <!-- Portföy Projeleri -->
            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-maintenance">
                    <img src="/Unko/assets/img/Unkon/Foto1.jpg" class="img-fluid" alt="Bakım ve Onarım Projesi">
                    <div class="portfolio-info">
                        <h4>Bakım Projesi 1</h4>
                        <p>Kazan bakım ve onarım süreci</p>
                        <a href="/Unko/assets/img/Unkon/Foto1.jpg" title="Bakım Projesi 1" data-gallery="portfolio-gallery-maintenance" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Daha Fazla Bilgi" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- Portföy Ögesi Bitiş -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-installation">
                    <img src="/Unko/assets/img/Unkon/Foto2.jpg" class="img-fluid" alt="Kurulum Projesi">
                    <div class="portfolio-info">
                        <h4>Kurulum Projesi</h4>
                        <p>Endüstriyel kazan kurulum hizmeti</p>
                        <a href="/Unko/assets/img/Unkon/Foto2.jpg" title="Kurulum Projesi" data-gallery="portfolio-gallery-installation" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Daha Fazla Bilgi" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- Portföy Ögesi Bitiş -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-supply">
                    <img src="/Unko/assets/img/Unkon/Foto3.jpg" class="img-fluid" alt="Yedek Parça Tedarik Projesi">
                    <div class="portfolio-info">
                        <h4>Yedek Parça Tedarik 1</h4>
                        <p>Kazan sistemleri için yedek parça temini</p>
                        <a href="/Unko/assets/img/Unkon/Foto3.jpg" title="Yedek Parça Tedarik 1" data-gallery="portfolio-gallery-supply" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Daha Fazla Bilgi" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- Portföy Ögesi Bitiş -->

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-support">
                    <img src="/Unko/assets/img/Unkon/Foto4.jpg" class="img-fluid" alt="Teknik Destek Projesi">
                    <div class="portfolio-info">
                        <h4>Teknik Destek 1</h4>
                        <p>24/7 teknik destek hizmeti</p>
                        <a href="/Unko/assets/img/Unkon/Foto4.jpg" title="Teknik Destek 1" data-gallery="portfolio-gallery-support" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                        <a href="portfolio-details.html" title="Daha Fazla Bilgi" class="details-link"><i class="bi bi-link-45deg"></i></a>
                    </div>
                </div><!-- Portföy Ögesi Bitiş -->

            </div><!-- Portföy Projeleri Bitiş -->

        </div>

    </div>

</section><!-- Portföy Bölümü Bitiş -->
